.text {
    color: black;
    text-align: center;
}

.title {
    color: black;
    text-align: center;
    margin-top: 20%
}

.button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

html {
    background-color: #F5F5DC;
}