<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1 class="title">Teste</h1>
    <p class="text">To testando apresentar um html no meu site, agora vou testar o css</p>
    <div class="container">
        <button class="button">Clique aqui</button>
    </div>

    <script src="/js/script.js"></script>
</body>
</html>